body{
  background:#42a5f5;
}
.grey-jumbo{
  background: #42a5f5;
  color:#fff;
  margin-top: -30px;
  height: 500px;
  border-radius: 0px;
}
hr.short {
  width: 100px;
  border-bottom: 2px solid #fff;
}
hr.below{
  width: 50px;
  border-bottom: 1px solid #fff;
}
div.col-sm-12.text-center.jumbotron.top{
  border-radius: 0px;
  background: linear-gradient(145deg, #0d47a1, #42a5f5);
  color: #fff;
  height: 300px;
}
#info1,
#info2 {
    font-size: 30px;
}
#info3 {
    font-size: 60px;
}
